@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.input-wrapper{
    width: 24vw;
    height: 2.7vw;
    border-radius: 50px;
    margin-top: 5.4vh;
    padding: 0 15px;
    border: 2px solid #D9D9D9;
    background-color: #21222A;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-wrapper > input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    color: white;
}

.input-wrapper > input::placeholder{
    color: #D9D9D9;
}

.input-wrapper > input:focus{
    outline: none;
}

.search-icon{
    width: 2vw;
    height: auto;
    margin-left: -9px;
}

.tags-section-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 20px;
    margin-top: 10px;
}

.tags-section-text{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    color: white;
}



