.template-tags {
    display: flex;
    flex-direction: row;
}

.template-tag{
    margin-left: 8px;
    border-radius: 50px;
    font-size: 17px;
    font-family: Inter, sans-serif;
    border: 2px solid white;
}

.template-tag > p {
    margin-top: 2.5px;
    text-align: center;
    justify-content: center;
}