.template-tags {
    display: flex;
    flex-direction: row;
    margin-top: -1px;
}

.template-tag{
    margin-left: 8px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-family: Inter, sans-serif;
    border: 1px solid white;
    display: inherit;
    text-align: center;
    padding-left: 14px;
}

.template-tag > p {
    margin-top: 1px;
    margin-left: -4px;
}

.remove-button-holder{
    width: 2vh;
    height: 2vh;
    border-radius: 50px;
    margin-left: 4px;
    background-color: #423771;
    opacity: 0.8;
    text-align: center;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.remove-button-holder:hover{
    cursor: pointer;
}