.App {
  text-align: center;
  background-image: linear-gradient(red,yellow);
  background-repeat:no-repeat;
  background-size: 100%;
}
form {
margin-top: 15%;
position: absolute;
left: 43%;
}



.emailimage2{
  position: absolute;
  top: 27%;
  left: 13%;
  width: 23px;
  height: 23px;
}

.passwordimage2{
  position: absolute;
  top: 43%;
  left: 13%;
  width: 7%;
  height: 7%;
}

.passwordimage{
  position: absolute;
  top: 51%;
  left: 13%;
  width: 7%;
  height: 7%;
}

.userimage{
  position: absolute;
  top: 25%;
  left: 13%;
  width: 7%;
  height: 7%;
}

.emailimage {
  position: absolute;
  top: 38%;
  left: 13%;
  width: 23px;
  height: 23px;
}

.Create-Account-cat {
  background-color: white;
  border-radius: 10px;
  height: 40px;
width: 70px;
border: 1px solid gray;
}

.Create-Account-cat:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: 0.5s;
}

.Log-In-btn {
  background-color: white;
  border-radius: 10px;
  height: 30px;
width: 70px;
border: 1px solid gray;
} 
.Log-In-btn:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: 0.5s;
}

input {
  border: none;
  border-bottom: 2px solid gray;
}
input:focus{
  outline: none;
  border-bottom: 2px solid black;
  transition: 0.3s;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
