form {
    margin-top: 15%;
    position: absolute;
    left: 43%;
}
    
.emailimage2{
    position: absolute;
    top: 16%;
    left: -10%;
    width: 23px;
    height: 23px;
}
    
.passwordimage2{
    position: absolute;
    top: 39%;
    left: -10%;
    width: 7%;
    height: 7%;
}
    
.passwordimage{
    position: absolute;
    top: 51%;
    left: -10%;
    width: 7%;
    height: 7%;
}
    
.userimage{
    position: absolute;
    top: 16%;
    left: -10%;
    width: 7%;
    height: 7%;
}
 
footer {
    position: relative;
    top: -10px;
}

.fTextLeft {
    position: relative;
    font-size: 1.3em;
    left: 5%;
    float: left;
    top: 30%;
   
  }
  .fTextRight {
    font-size: 1.2em;
    position: relative;
    top: 30%;
    float: right;
    right: 5%;
  }
    
.emailimage {
    position: absolute;
    top: 32%;
    left: -10%;
    width: 23px;
    height: 23px;
}
    
.Create-Account-cat {
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 70px;
    border: 1px solid gray;
}
    
.Create-Account-cat:hover {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.5s;
}
    
.Log-In-btn {
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    border: 1px solid gray;
}

.Log-In-btn:hover {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.5s;
}

input {
    border: none;
    border-bottom: 2px solid gray;
}

input:focus{
    outline: none;
    border-bottom: 2px solid black;
    transition: 0.3s;
}