body{
    width: 100%;
    height: 100%;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 67vh;
    height: fit-content;
    margin: 20px 0;
}

.card-container {
    width: 470px;
    height: 462px;
    padding: 14px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.card-image {
    width: 97%;
    height: 57%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 14px;
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #000;
    text-align: left;
    font-family: Catamaran;
    font-size: 40px;
    font-size: 35px;
    font-weight: 200;
    margin: 14px;
}

.action-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.action-button {
    color: white;
    border-radius: 15px;
}

.open-button {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Catamaran;
    transition: scale 0.2s ease-in-out;
}

.open-button:hover {
    scale: 1.02;
}