.target-template-container{
    width: 66.66%;
    height: 100vh;
    background-color: #282D35;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-template{
    width: 34vw;
    height: 48vw;
    min-width: 500px;
    background-color: transparent;
    margin-left: 5vw;
    margin-right: 4vw;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #21222A;
}

.selected-template{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#back-button{
    transition: filter 0.5s ease-in-out;
    align-self:flex-start;
    margin-top: 4vh;
    width: 4.6vw;
    height: auto;
    border: 1px solid white ;
    border-radius: 50px;
}

#confirm-button{
    transition: filter 0.5s ease-in-out;
    align-self: flex-end;
    margin-bottom: 4vh;
    width: 6vw;
    height: auto;
    border: 1px solid white ;
    border-radius: 50px;  
}

#confirm-button:hover, #back-button:hover{
    cursor: pointer;
    filter: invert(100%);
    border-color: transparent;
    scale: 1.05;
} 