.target-template-container{
    width: 66.66%;
    height: 100vh;
    background-color: #282D35;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target-template{
    width: 934px;
    height: 1321px;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #21222A;
}

.selected-template{
    width: 934px;
    height: 1321px;
    border-radius: 15px;
}