.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87vh;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,179,255,1) 100%);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Catamaran, sans-serif;
}

.register-form h2 {
  margin-bottom: 10px;
}

.Nameinput,
.Emailinput,
.Passwordinput {
  width: 300px;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.title-btn {
  display: block;
  background: #1d87d5;
  border: none;
  padding: 8px 25px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-size: .9em;
  width: fit-content;
  border-radius: 5px;
  transition: 0.3s scale ease-in-out;
  font-family: Catamaran, sans-serif;
}

.title-btn:hover {
  cursor: pointer;
  scale: 1.2;
}